/* Importer la police DM Sans avec tous les poids */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  font-family: 'DM Sans', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #0F0F0F;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: start;
  min-width: 320px;
  min-height: 100vh;
}



h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  text-transform: uppercase;
}

.maincontainer h2 {
  margin-bottom: 0;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.App {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.maincontainer {
  padding: 0px 150px;
}

.bpm {
  background-color: #717384;
}

.key {
  background-color: #717384;
}

/* Bouton de télchargment */

.download {
  background-color: #0F0F0F;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: start;
  min-width: 320px;
  min-height: 100vh;
}

/* Bouton de télchargment */

.download {
  display: block;
  background-color: #0F0F0F;
  color: white !important;
  padding: 5px 10px;
  font-size: 0.8em;
  border-radius: 100px;
  text-decoration: none;
  border: #ffffff 1px solid;
  transition: all 0.3s;
  width: 100px !important;
  text-align: center;
}

.download:hover {
  color: #0F0F0F !important;
  background-color: #ffffff;
}

li, ul  {
  list-style-type: none;
  padding: 0;
}

.title {
  text-transform: uppercase;
  font-weight: bold !important;
  font-size: 0.8em !important;
}

.title p {
  margin: 0;
}



